/* my styles */
html, body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 2px solid black;
  padding: 5px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

label {
  display: block;
  font-size: 1.35rem;
  color: white;
  background: black;
  padding: 20px 0;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

textarea {
  background: none;
  overflow: hidden;
  outline: none;
  resize: none;
  width: 100%;
  padding-top: 7%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 0.6em;
  border: none;
}

blockquote {
  margin-left: 30px;
}

.input {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.output {
  background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
}

#preview {
  width: 100%;
  padding: 7% 3%;
  font-size: 0.6em;
}

/* MEDIA QUERIES ---------------------------------- */

@media (min-width: 310px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .input, .output {
    flex: 50%;
    align-items: center;
  }
  textarea {
    font-size: 0.743em;
  }
  
  #preview {
    font-size: 0.76em;
  }
}

@media (min-width: 370px) {
  textarea {
    font-size: 0.8em;
  }
  #preview {
    padding: 7% 7%;
    font-size: 0.8em;
  }
}

@media (min-width: 410px) {
  label {
    padding: 20px 0;
    font-size: 1.35rem;
  }
  textarea {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.8em;
  }
  #preview {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.82em;
  }
}

@media (min-width: 585px) {
  textarea {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 0.9em;
  }
  #preview {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 0.89em;
  }
}

@media (min-width: 760px) {
  .container {
    flex-direction: row;
  }

  textarea { 
    padding-left: 7%;
    padding-right: 7%;
    font-size: 1em;
  }
  
  #preview {
    padding-left: 7%;
    padding-right: 7%;
    font-size: 0.75em; 
  }
}

@media (min-width: 1000px) {
  label {
    padding: 25px 0;
    font-size: 1.8rem;
  }
  textarea {
    padding-top: 5%; 
    padding-left: 10%;
    padding-right: 10%; 
  }
  #preview {
    padding-top: 4.5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1em;
  }
}

@media (min-width: 1400px) {
  label {
    padding: 30px 0;
    font-size: 2.3em;
  }
  textarea {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.25em;
  }
  
  #preview {
    padding: 4.5% 15%;
    font-size: 1.27em;
  }
}